
.navbar{
  background:rgba(90, 65, 65, 0.9);
  height:80px;
  font-size: 25px;
  color:white;
  display: flex;
  font-weight: 900;
  align-items: center;
  justify-content: start;
}

.navbar > h3{
  margin-left: 5%;
}

.heading{
  margin:auto;
  margin-top:1%;
 border-radius: 25px;
  box-shadow: rgba(106, 61, 31, 0.846) 0px 0px 10px 0px, rgba(133, 42, 42, 0.743) 0px 0px 0px 1px;
  width:30%;
  text-align: center;
}

.heading > h1,.heading > h3,.heading > h4{
  font-size: 30px;
  font-weight: 900;
  font-family: monospace;
  color:rgb(169, 45, 45)
}

.heading > h3{
  font-size: 25px;
  color:rgb(160, 32, 118)
}

.heading > h4{
  font-size: 28px;
  color:rgb(95, 79, 24)
}

.FormControl
{
  border:1px solid orange;
  background: rgb(211, 188, 188);
  border-radius: 10px;
  padding:5%;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.topbar{
  margin:auto;
  margin-top:1%;
  text-align: end;
  margin-right: 4%;
  width:88%;
}

.topbar > b{
  position: absolute;
  left:600px;
  font-size: 30px;
  text-decoration:underline;
}

.forms
{
  margin-top:3%;
}

.buttonsGroups{
  display:flex;
  justify-content:space-evenly;
  width:60%;
  margin:auto;
  margin-top: 3%;
}

.footer{
  margin:3% auto;
  justify-content:space-around;
  display:flex;
  width:25%;
  align-items: center;
}

.signInUp{
  width:28%;
  padding:1%;
  background:rgb(180, 119, 119);
  padding-top:1%;
  border-radius: 20px;
  border:3px solid brown;
}

.signInUp > h1{
  font-weight: 900;
  font-size:28px;
  text-align: center;
}

.signInUp-Button{
  text-align: center;
  background-color: red;
  margin:5% 0 0 37%;
}

.PetsBox
{
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(4,23%);
  grid-row-gap: 4%;
  justify-content:space-evenly
}

.PetsBox > div{
  box-shadow: rgba(81, 40, 40, 0.996) 0px 0.0625em 0.0625em, rgba(74, 44, 44, 0.979) 0px 0.125em 0.5em, rgba(254, 254, 254, 0.979) 0px 0px 0px 1px inset;
  height:300px;
}

.periodsBox
{
  width:30%;
  padding:2%;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top:100px;
  left:35%;
  box-shadow: rgba(255, 9, 9, 0.996) 0px 0.0625em 0.0625em, rgba(74, 44, 44, 0.979) 0px 0.125em 0.5em, rgba(254, 254, 254, 0.979) 0px 0px 0px 1px inset;

}